:root{
  --mainBlue:#34495e;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}

body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
 font-family: 'Akaya Telivigala', cursive;
 letter-spacing: 0.3rem;
 text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}
.navbar-brand{
  height: 3rem;
  width: 3rem;
  color: var(--mainYellow)!important;
}
.fa-cart-plus{
  color: #fff;
}
.btn-black{
  background: var(--mainBlue)!important;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainWhite);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark)!important;
  padding: 0.8rem 1rem !important;
}
.btn-black:hover{
  background: var(--mainDark)!important;
  color: var(--mainWhite)!important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow)!important;
}
.footer{
 font-family: 'Akaya Telivigala', cursive;
 letter-spacing: 0.3rem;
 text-transform: capitalize;
 background: var(--mainBlue);
 padding: 2.5rem;
 color: var(--mainWhite);
}
